# Old temorary source copies
*.orig
*~
.gradle

out

btm1.tlog
btm2.tlog

*.wsdl

#*.properties
.springBeans

# Directories with built binaries
build/
*-build/
*-build-*/

# IDE project files
*.iml
*.ipr
*.iws
*.kdevelop
*.kdevelop.pcs
*.kdevelop.filelist
*.kdevses
*.kdev4
*.cbp
*.pro.user
.idea
CMakeLists.txt.user*
CMakeLists.txt.shared
Doxyfile
classes
target
temp
jbiServiceUnits

# gSOAP logs
TEST.log
SENT.log
RECV.log

#for Eclipse
.settings
.classpath
.project
.metadata

# for Dolphin
.directory

# User's description
ignoreme*

# for test logs
*.log
*.out
*.epoch
mqjms.log*

MANIFEST.MF

bin/

debug.log*

server/utils/mq/MQFilesPutter/*
41_MrcodRequestState.etl.xml

nb-configuration.xml
nbactions-sonar.xml

#BIRT
*.rptconfig

server/scripts/mq/generated/

server/utils/UpdaterSQL/*.sql
server/utils/CreaterSQL/*.sql

server/utils/SignMessage/in/
server/utils/SignMessage/out/

server/utils/ReplaceMessageUID/in/
server/utils/ReplaceMessageUID/out/

# NetBeans
catalog.xml

server/utils/BirtUtils/PDFRenderer-full-0.9.1/dist/*
server/utils/BirtUtils/ReportPreview/dist/*
server/utils/BirtUtils/ReportPreview/*.properties
server/utils/BirtUtils/ReportPreview/*.log
.nb-gradle/
